

.stats-card:hover{
    transform:translateY(-5px);
}

.badge{
    font-size:14px;
}



body{
    background:#f4f6f9;
    font-family:Segoe UI;
}


/* navbar */

.navbar{

    background:
    rgba(25,25,25,.95)
    !important;

    backdrop-filter:blur(15px);
}


/* cards */

.card{

    border:none;

    border-radius:22px;

    transition:.4s;

    animation:fade .7s;
}

.card:hover{

    transform:
    translateY(-8px);

    box-shadow:
    0px 20px 40px
    rgba(0,0,0,.15);
}


/* buttons */

.btn{

    border-radius:12px;
}

.btn:hover{

    transform:scale(1.04);
}


/* stats cards */

.stats-card{

    background:
    linear-gradient(
    135deg,
    #ffffff,
    #eef4ff
    );
}


/* task cards */

.task-card{

    border-left:
    7px solid #0d6efd;
}


/* progress */

.progress{

    height:30px;
    border-radius:15px;
}

.progress-bar{

    animation:grow 2s;
}


/* chart */

.chart-box{

    width:420px;

    margin:auto;
}


/* dark mode */

.dark-mode{

    background:#121212 !important;

    color:white;
}

.dark-mode .card{

    background:#1f1f1f;

    color:white;
}

.dark-mode .navbar{

    background:#000 !important;
}

.dark-mode .form-control{
    background:#0f172a;
    color:white;
}


.dark-mode textarea{
    background:#0f172a;
    color:white;
}

.dark-mode select{
    background:#0f172a;
    color:white;
}
.dark-mode input,
.dark-mode textarea,
.dark-mode select{

    background:#2d2d2d;

    color:white;

    border:none;
}


@keyframes fade{

from{

    opacity:0;

    transform:
    translateY(20px);
}

to{

    opacity:1;

    transform:
    translateY(0px);
}

}


@keyframes grow{

from{

    width:0%;
}

}