{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="card shadow p-5">

<div class="text-center">

      {% if user.profile_pic %}

<img
src="{{ url_for( 'static', filename='uploads/' + user.profile_pic ) }}"
width="180"
height="180"
class="rounded-circle shadow">

{% else %}
<img
src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
width="180"
height="180"
class="rounded-circle shadow">

{% endif %}

<h3 class="mt-4">

{{ user.name }}

</h3>


<p class="text-muted">

{{ user.email }}

</p>

</div>

<hr>

<a href="/delete_photo"
class="btn btn-danger">

Remove Photo

</a>
<form method="POST"
      enctype="multipart/form-data">

<label>Name</label>

<input
type="text"
name="name"
class="form-control mb-3"
value="{{user.name}}">

<label>Email</label>

<input
type="email"
name="email"
class="form-control mb-3"
value="{{user.email}}">

<label>About</label>

<textarea
name="bio"
class="form-control mb-3"
rows="5">

{{user.bio}}

</textarea>

<label>Profile Photo</label>

<input
type="file"
name="photo"
class="form-control mb-4">

<button
class="btn btn-primary">

Save Changes

</button>

</form>

</div>

</div>

{% endblock %}